@media (max-width: 768px) {
    .hamburger {
        display: block !important;
    }
    .non_header {
        display: flex !important;
        border: 1px solid;
        justify-content: space-between !important;
        flex-direction: row !important;
        padding: .5rem;
        padding-left: 2rem !important;
        padding-right: 2rem !important;
    }
    .scroll-indicator {
        position: fixed;
        bottom: 20px;
        left: 90%;
        z-index: 1000;
        width: 50px;
        height: 50px;
    }
    .non_header .links {
        display: none !important;
    }
    .links_menu li {
        list-style-type: none;
        padding: .8rem;
        padding-left: 0;
        border-bottom: 1px solid;
    }
    .flipper {
        font-weight: 400 !important;
        font-size: 2rem !important;
        /* text-align: center; */
        width: 80% !important;
        margin-top: 50% !important;
    }
    marquee {
        font-size: 2rem !important;
        font-weight: 900 !important;
        padding: 2rem;
        background: #151515 !important;
        color: #fff;
    }
    .about {
        display: flex !important;
        padding: 1rem !important;
        align-items: center !important;
        gap: 3rem !important;
        margin-top: 4rem !important;
        justify-content: center !important;
        flex-direction: column !important;
    }
    .services_ {
        grid-template-columns: 1fr !important;
    }
    .new_wrap {
        display: flex !important;
        justify-content: flex-start !important;
        /* border: 1px solid; */
        align-items: center !important;
        margin-top: 5rem !important;
        flex-direction: column-reverse !important;
    }
    .about .text p:first-child {
        font-size: 2rem !important;
        /* text-align: center; */
    }
    .about .text p:last-child {
        font-size: 1rem !important;
        font-weight: 350;
        /* text-align: center; */
        width: 70;
    }
    .new_wrap .text_ p:first-child {
        font-size: 2rem !important;
    }
    .team {
        grid-template-columns: 1fr !important;
    }
    .values_wrap .title_v {
        font-size: 2rem !important;
    }
    .values_wrap {
        padding: 1rem;
    }
    .values {
        flex-direction: column;
        padding: 0;
    }
    .values .value {
        width: 100% !important;
    }
    .quest .questTitle {
        display: flex;
        justify-content: space-between;
        font-size: 1.2rem !important;
        font-weight: 350 !important;
        padding-right: 1rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid #ccc;
        align-items: center;
    }
    .footer .section1_ {
        flex-direction: column !important;
    }
    .widen {
        width: 100%;
        /* border: 1px solid white; */
        margin-bottom: 1rem;
    }
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    .footer_wrap {
        background-color: #151515;
        padding: 3rem;
        padding-left: 1rem !important;
        padding-right: 1rem !important;
        margin-top: 10rem;
    }
    .footer .section1_ img:last-child {
        width: 100% !important;
    }
    .footer .section1_ p {
        width: 100% !important;
    }
    .img_header {
        width: 30%;
        padding: 1rem;
        padding-left: 0;
        padding-right: 0;
    }
    .mobile {
        display: inline;
    }
    .desktop {
        display: none;
    }
    .contact .image {
        display: none;
    }
    .form {
        display: block !important;
    }
    .form form {
        display: flex !important;
        flex-direction: column !important;
        width: 100% !important;
    }
    .form form input,
    button {
        width: 100%;
    }
    .form form textarea {
        width: 100%;
    }
}